src/main/resources/schemas/xjc/translator.wsdl

<wsdl:definitions xmlns:wsdl="http://www.w3.org/ns/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:translator="http://translator/web/ws/schema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://translator/web/ws/schema">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://translator/web/ws/schema" elementFormDefault="qualified">

            <xs:element name="getTranslationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="langFrom" type="xs:string"/>
                        <xs:element name="langTo" type="xs:string"/>
                        <xs:element name="text" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getTranslationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="resultCode" type="xs:string"/>
                        <xs:element name="errorMsg" type="xs:string"/>
                        <xs:element name="translation" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="messageRequest">
        <wsdl:part name="parameters" element="translator:getTranslationRequest" />
    </wsdl:message>
    <wsdl:message name="messageResponse">
        <wsdl:part name="parameters" element="translator:getTranslationResponse" />
    </wsdl:message>
    <wsdl:portType name="TranslatorPortType">
        <wsdl:operation name="translate">
            <wsdl:input message="translator:messageRequest" />
            <wsdl:output message="translator:messageResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TranslatorSoap12Binding" type="translator:TranslatorPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="translate">
            <soap12:operation soapAction="translate" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
